/* Hide the horizontal scroll */
body {
  overflow-x: hidden
}

/* Remove any focus in the page */
:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: $blackColor
}

/* Reset the ul and ol */
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0
}

/* Default style for buttons  */
button {
  background: transparent;
  border: 1px solid $blackColor;
  font-size: 17px;
  padding: 8px 20px;
  cursor: pointer
}
